<!-- <app-auth-navbar></app-auth-navbar> -->
<div class="product-page">
    <div class="wrapper">
        <!-- <div class="page-header header-filter page-header-small skew-separator skew-mini">
            <div class="page-header-image"
                style="background-image: url('https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/boxed-water.jpg');">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 mr-auto text-left">
                        <h1 class="title text-white">Our products</h1><br>
                        <h4 class="category text-white opacity-8"> This is the best way to find your favorite stuff </h4>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew"><svg xmlns="http://www.w3.org/2000/svg"
                    preserveaspectratio="none" version="1.1" viewbox="0 0 2560 100" x="0" y="0">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg></div>
        </div> -->
        <div class="section section-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <carousel>
                            <div tabindex="0" class="carousel slide">
                                <ol class="carousel-indicators">
                                    <li class="active"></li>
                                    <li class=""></li>
                                    <li class=""></li>
                                    <!---->
                                </ol>
                                <!---->
                                <div class="carousel-inner" style="display: block;">
                                    <slide aria-hidden="false" class="item carousel-item active"
                                        style="width: 100%; order: 0;">
                                        <div class="item active"><img alt="First slide"
                                                src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/shirt.png"
                                                class="d-block"></div>
                                    </slide>
                                    <slide aria-hidden="true" class="item carousel-item" style="width: 100%; order: 0;">
                                        <div class="item"><img alt="Second slide"
                                                src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/shorts.png"
                                                class="d-block"></div>
                                    </slide>
                                    <slide aria-hidden="true" class="item carousel-item" style="width: 100%; order: 0;">
                                        <div class="item"><img alt="Third slide"
                                                src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/tshirt.png"
                                                class="d-block"></div>
                                    </slide>
                                </div><a tabindex="0" role="button"
                                    class="left carousel-control carousel-control-prev"><span aria-hidden="true"
                                        class="icon-prev carousel-control-prev-icon"></span><span
                                        class="sr-only">Previous</span>
                                    <!---->
                                </a>
                                <!----><a tabindex="0" role="button"
                                    class="right carousel-control carousel-control-next"><span aria-hidden="true"
                                        class="icon-next carousel-control-next-icon"></span><span
                                        class="sr-only">Next</span></a>
                                <!---->
                            </div>
                        </carousel>
                    </div>
                    <div class="col-lg-6 col-md-12 mx-auto">
                        <h2 class="title">Givenchy</h2>
                        <div class="stats">
                            <div class="stars text-warning"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                <p class="d-inline">(76 customer reviews)</p>
                            </div>
                        </div><br>
                        <h2 class="main-price">$3,390</h2>
                        <h6 class="category">Description</h6>
                        <p class="description"> Eres' daring 'Grigri Fortune' swimsuit has the fit and coverage of a
                            bikini
                            in a one-piece silhouette. This fuchsia style is crafted from the label's sculpting peau
                            douce
                            fabric and has flattering cutouts through the torso and back. Wear yours with mirrored
                            sunglasses on vacation. </p><br>
                        <div class="row pick-size">
                            <div class="col-lg-4 col-md-4"><label> Quantity </label>
                                <div class="input-group">
                                    <div class="input-group-btn"><button id="down"
                                            class="btn btn-outline-warning btn-round"><i
                                                class="ni ni-fat-delete"></i></button></div><input id="myNumber"
                                        type="text" value="1" class="form-control input-number">
                                    <div class="input-group-btn"><button id="up"
                                            class="btn btn-outline-warning btn-round"><i
                                                class="ni ni-fat-add"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6"><label> Select color </label>
                                <select name="color" id="color">
                                    <option value="volvo">Black</option>
                                    <option value="saab">Red</option>
                                    <option value="mercedes">Blue</option>
                                    <option value="audi">Orange</option>
                                </select>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6"><label> Select size </label>
                                <br>
                                <select name="size" id="size">
                                    <option value="volvo">XL</option>
                                    <option value="saab">L</option>
                                    <option value="mercedes">S</option>
                                    <option value="audi">M</option>
                                </select>
                            </div>
                            <label for="basic-url" class="form-label">Your vanity URL</label>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm mt-2">
                                        <label>Collor</label>
                                        <input type="text" placeholder="Collor" class="form-control" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="col-sm mt-2">
                                        <label>Shoulder</label>
                                        <input type="text" placeholder="Shoulder" class="form-control" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="col-sm mt-2">
                                        <label>Waist</label>
                                        <input type="text"  placeholder="Waist" class="form-control" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-sm mt-2">
                                        <label>Chest</label>
                                        <input type="text" placeholder="Chest"  class="form-control" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="col-sm mt-2">
                                        <label>Sleev length</label>
                                        <input type="text" placeholder="Sleev length" class="form-control" aria-describedby="basic-addon3">
                                    </div>
                                    <div class="col-sm mt-2">
                                        <label>Sleve full</label>
                                        <input type="text" placeholder="Sleev full"  class="form-control" aria-describedby="basic-addon3">
                                    </div>
                                </div>
                               
                            </div>
                        </div><br>
                        <div class="row justify-content-start"><button class="btn btn-warning ml-3"> Add to Cart <i
                                    class="ni ni-cart"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="section">
            <div class="testimonials-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center">
                            <h3 class="display-3">Join our world</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-8 col-10 positioned">
                            <h3 class="display-3">See our customers opinion</h3>
                            <p class="lead"> Meet Wingman, a robust suite of styled pages and components, powered by
                                Bootstrap 4. The ideal starting point for product landing pages, stylish web-apps and
                                complete company websites. </p><a href="javascript:;" class="btn btn-primary mt-5"> Contact
                                us </a>
                        </div>
                        <div class="col-md-12 col-md-6">
                            <div class="testimonial-glide glide--ltr glide--carousel glide--swipeable">
                                <div data-glide-el="track" class="glide__track">
                                    <ul class="glide__slides"
                                        style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 4085px; transform: translate3d(-630px, 0px, 0px);">
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> Artist is a term applied to a person who engages in
                                                    an activity deemed to be an art. An artist also may be defined
                                                    unofficially as "a person who expresses him- or herself through a
                                                    medium". He is a descriptive term applied to a person who engages in an
                                                    activity deemed to be an art." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-2.jpg"
                                                        class="avatar img-raised"><span> Michael Jenos </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "The simplest visual description uses ordinary words
                                                    to convey what the writer sees. First he or she must look at the subject
                                                    â slowly, carefully, and repeatedly, if possible â to identify the
                                                    parts that make the whole" </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-3.jpg"
                                                        class="avatar img-raised"><span> Rose Arthur </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "Finding temporary housing for your dog should be as
                                                    easy as renting an Airbnb. That's the idea behind Rover, which raised
                                                    $65 million to expand its pet sitting and dog-walking
                                                    businesses..Finding temporary housing for your dog should be as easy as
                                                    renting an Airbnb." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-4.jpg"
                                                        class="avatar img-raised"><span> Lora Jimi </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "Venture investment in U.S. startups rose
                                                    sequentially in the second quarter of 2017, boosted by large, late-stage
                                                    financings and a few outsized early-stage rounds in tech and
                                                    healthcare..enture investment in U.S. startups rose sequentially in the
                                                    second quarter of 2017, boosted by large." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-5.jpg"
                                                        class="avatar img-raised"><span> Mike Ranson </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--active"
                                            style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "Take up one idea. Make that one idea your life -
                                                    think of it, dream of it, live on that idea. Let the brain, muscles,
                                                    nerves, every part of your body, be full of that idea, and just leave
                                                    every other idea alone. This is the way to success. A single rose can be
                                                    my garden... a single friend, my world." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-1.jpg"
                                                        class="avatar img-raised"><span> Andrew Lino </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide" style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> Artist is a term applied to a person who engages in
                                                    an activity deemed to be an art. An artist also may be defined
                                                    unofficially as "a person who expresses him- or herself through a
                                                    medium". He is a descriptive term applied to a person who engages in an
                                                    activity deemed to be an art." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-2.jpg"
                                                        class="avatar img-raised"><span> Michael Jenos </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide" style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "The simplest visual description uses ordinary words
                                                    to convey what the writer sees. First he or she must look at the subject
                                                    â slowly, carefully, and repeatedly, if possible â to identify the
                                                    parts that make the whole" </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-3.jpg"
                                                        class="avatar img-raised"><span> Rose Arthur </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide" style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "Finding temporary housing for your dog should be as
                                                    easy as renting an Airbnb. That's the idea behind Rover, which raised
                                                    $65 million to expand its pet sitting and dog-walking
                                                    businesses..Finding temporary housing for your dog should be as easy as
                                                    renting an Airbnb." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-4.jpg"
                                                        class="avatar img-raised"><span> Lora Jimi </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide" style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "Venture investment in U.S. startups rose
                                                    sequentially in the second quarter of 2017, boosted by large, late-stage
                                                    financings and a few outsized early-stage rounds in tech and
                                                    healthcare..enture investment in U.S. startups rose sequentially in the
                                                    second quarter of 2017, boosted by large." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-5.jpg"
                                                        class="avatar img-raised"><span> Mike Ranson </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "Take up one idea. Make that one idea your life -
                                                    think of it, dream of it, live on that idea. Let the brain, muscles,
                                                    nerves, every part of your body, be full of that idea, and just leave
                                                    every other idea alone. This is the way to success. A single rose can be
                                                    my garden... a single friend, my world." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-1.jpg"
                                                        class="avatar img-raised"><span> Andrew Lino </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> Artist is a term applied to a person who engages in
                                                    an activity deemed to be an art. An artist also may be defined
                                                    unofficially as "a person who expresses him- or herself through a
                                                    medium". He is a descriptive term applied to a person who engages in an
                                                    activity deemed to be an art." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-2.jpg"
                                                        class="avatar img-raised"><span> Michael Jenos </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-left: 5px; margin-right: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "The simplest visual description uses ordinary words
                                                    to convey what the writer sees. First he or she must look at the subject
                                                    â slowly, carefully, and repeatedly, if possible â to identify the
                                                    parts that make the whole" </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-3.jpg"
                                                        class="avatar img-raised"><span> Rose Arthur </span></div>
                                            </div>
                                        </li>
                                        <li class="glide__slide glide__slide--clone"
                                            style="width: 305px; margin-left: 5px;">
                                            <div class="info text-left">
                                                <p class="description"> "Finding temporary housing for your dog should be as
                                                    easy as renting an Airbnb. That's the idea behind Rover, which raised
                                                    $65 million to expand its pet sitting and dog-walking
                                                    businesses..Finding temporary housing for your dog should be as easy as
                                                    renting an Airbnb." </p>
                                                <div class="author"><img alt="..." src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/faces/team-4.jpg"
                                                        class="avatar img-raised"><span> Lora Jimi </span></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div data-glide-el="controls" class="glide__arrows"><button aria-label="Previous"
                                        data-glide-dir="<" class="glide__arrow glide__arrow--left text-default"><i
                                            class="ni ni-bold-left"></i></button><button data-glide-dir=">"
                                        aria-label="Next" class="glide__arrow glide__arrow--right text-default"><i
                                            class="ni ni-bold-right"></i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section related-products bg-secondary skew-separator skew-top">
            <div class="container">
                <div class="col-md-8">
                    <h2 class="title">You may also like</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-image"><a href="#pablo"><img src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/tshirt.png"
                                        class="img rounded"></a></div>
                            <div class="card-body">
                                <h6 class="category text-warning">Trending</h6>
                                <h4 class="card-title"><a href="javascript:;" class="card-link"> Gucci </a></h4>
                                <div class="card-description opacity-8 mt-2"> Dolce &amp; Gabbana's 'Greta' tote has been
                                    crafted in Italy from hard-wearing red textured-leather. </div>
                                <div class="card-footer">
                                    <div class="price-container"><span class="price"> €1,459 </span></div><button
                                        placement="left"
                                        class="btn btn-simple btn-warning btn-icon-only btn-sm btn-round pull-right"><i
                                            class="ni ni-favourite-28"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-image"><a href="#pablo"><img src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/shorts.png"
                                        class="img rounded"></a></div>
                            <div class="card-body">
                                <h6 class="category text-warning">Popular</h6>
                                <h4 class="card-title"><a href="javascript:;" class="card-link"> Balmain </a></h4>
                                <div class="card-description opacity-8 mt-2"> Balmain's mid-rise skinny jeans are cut with
                                    stretch to ensure they retain their second-skin fit but move comfortably. </div>
                                <div class="card-footer">
                                    <div class="price-container"><span class="price"> €459 </span></div><button
                                        placement="left"
                                        class="btn btn-simple btn-warning btn-icon-only btn-sm btn-round pull-right"><i
                                            class="ni ni-favourite-28"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-image"><a href="#pablo"><img src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/shirt.png"
                                        class="img rounded"></a></div>
                            <div class="card-body">
                                <h6 class="category text-warning">Popular</h6>
                                <h4 class="card-title"><a href="javascript:;" class="card-link"> Balenciaga </a></h4>
                                <div class="card-description opacity-8 mt-2"> Balenciaga's black textured-leather wallet is
                                    finished with the label's iconic 'Giant' studs. This is where you can... </div>
                                <div class="card-footer">
                                    <div class="price-container"><span class="price"> €559 </span></div><button
                                        placement="left"
                                        class="btn btn-simple btn-warning btn-icon-only btn-sm btn-round pull-right"><i
                                            class="ni ni-favourite-28"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card card-product">
                            <div class="card-image"><a href="#pablo"><img src="https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/pages/jeans.png"
                                        class="img rounded"></a></div>
                            <div class="card-body">
                                <h6 class="category text-warning">Trending</h6>
                                <h4 class="card-title"><a href="javascript:;" class="card-link"> D &amp; G </a></h4>
                                <div class="card-description opacity-8 mt-2"> Dolce &amp; Gabbana's 'Greta' tote has been
                                    crafted in Italy from hard-wearing red textured-leather. </div>
                                <div class="card-footer">
                                    <div class="price-container"><span class="price"> € 1,359 </span></div><button
                                        placement="left"
                                        class="btn btn-simple btn-warning btn-icon-only btn-sm btn-round pull-right"><i
                                            class="ni ni-favourite-28"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->