@media (min-width: 1200px){
    .container {
        max-width: 1040px;
    }
}
.h1, h1 {
    font-size: 2.5rem;
}
.product-page .page-header.skew-separator:after{
    background: #fff!important;
}
hr{
    margin-top: 30px;
    width: 100%;
    border-top: 5px solid;
}